* {
  cursor: url(http://www.rw-designer.com/cursor-extern.php?id=55867), auto;
  font-family: sans-serif;
}

body {
  background-image: url("http://i.giphy.com/11fSxqu3FUp2M0.gif");
  background-size: cover;
}

.text {
  margin-top: 5%;
}
h1, h3 {
  text-align: center;
  color: lightgreen;
}

#board {

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    background-color: rgba( 245, 224, 98, 1 );


}


.flexMe {
    background-color: lightyellow;
    width: 80px;
    flex-shrink: 1;
    height: 80px;
    margin: 10px;
    border-radius: 50%;

}

.container-1:hover, .container-2:hover, .container-3:hover, .container-4:hover, .container-5:hover, .container-6:hover, .container-7:hover {
  /*border-style: solid;
  border-width: 4px;
  border-color: lightgreen;*/
  background-image: url("http://i.giphy.com/HcnirI5DLwGoU.gif");
}
