* {
  font-family: Tahoma, Arial, sans-serif;
}

body {
  background-color: rgba(229, 235, 241, 1);
}

.text {
  min-height: 8.4em;
  margin-bottom: 2%;
}

  h1, h3 {
    margin: 0;
    font: 600 0.7em/1 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .7em;
    position: absolute;
    top: 5%;
    width: 100%;
}

span, span:after {
    text-align: center;
    font-weight: 900;
    color: rgba( 255 , 57 , 46 , 1 );
    white-space: nowrap;
    display: inline-block;
    position: relative;
    letter-spacing: .09em;
    padding: .2em .2em .29em .1em;
}

span {
    font-size: 4em;
    text-shadow: .04em .04em 0 rgba(0,0,0,.5);
}

#board {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

  .flex-container {
    margin-top: 2%;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    background-color: rgba( 245, 224, 98, 1 );
}

.flexMe {
    background-color: rgba(229, 235, 241, 1);
    width: 2.5em;
    border-top-style: inset;
    border-top-width: 0.15em;
    border-top-color:  rgba( 245, 200, 1, 1 );
    border-bottom-style: inset;
    border-bottom-width: 0.15em;
    border-bottom-color:  rgba( 245, 200, 1, 1 );
    flex-shrink: 1;
    height: 2.5em;
    margin: 10px;
    border-radius: 50%;
}

.container-1:hover, .container-2:hover, .container-3:hover, .container-4:hover, .container-5:hover, .container-6:hover, .container-7:hover {
  background-color: rgba( 245, 200, 1, 0.65 );
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.75);
  transition: opacity 700ms;
  visibility: hidden;
  opacity: 0.72;
  padding: 2%;
}

.popup {
  box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.25);
  border-width: thin;
  border-color: rgba(0, 0, 0, 0.15);
  border-style: solid;
  margin: 17em auto;
  padding-top: 4%;
  padding-bottom: 4%;
  padding: 2.8%;
  background-color: white;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 1s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  margin-bottom: 0.4em;
  color: black;
  font-family: Raleway, Arial, sans-serif;
}

.popup .close {
  position: absolute;
  top: 0.3em;
  right: 0.6em;
  transition: all 80ms;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
  color: rgba( 70 , 71 , 72 , 1 );
}

.popup .close:hover {
  color: rgba( 255 , 57 , 46 , 1 );
}

.popup .content {
  margin: 0;
  max-height: 15%;
  overflow: auto;
}
